* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#area-cabecalho {
    background: #f7b600;
    padding: 15px;
    text-align: center;

}

#area-logo, #area-menu {
    padding: 15px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;

}


#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

#rodape {
    background: #ccc;
    text-align: center;
    padding: 15px;
    clear: both;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFF;
}


h2 {
    color: #f7b600;
}

/* Layout Lateral */

#area-lateral h2 {
    background: #ccc;
    color: #fff;
}

#conteudo-lateral hr {
    color: #ccc;
}

#conteudo-lateral a {
    display: block;
    padding: 3px;
}

/* Formatação menu */

a {
    text-decoration: none;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
}

#area-cabecalho a:hover {
    background: #FFF;
    color: #f7b600;

}

a:link, a:visited {
    color: #f7b600;

}

a:hover {
    text-decoration: underline;
}


/* Formatações gerais */

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

span {
    color: #ffff;
}

.data-postagem {
    display: block;
    font-size: 0.8em;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}